extends layout

block vars
	- var title = title;
	- var timeSeries = timeSeries;
	- var timeIntervals = timeIntervals;

block content
	div(class='chart-container')
		canvas(id='chart')
		script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
		script.

			var ctx = document.getElementById('chart').getContext('2d');
			console.log(!{labels});
			//console.log(#{data});
			let data = !{data};
			let labels = !{labels};
			let newLabels = [];
			labels.forEach((l) => {
				console.log(l);
				newLabels.push(new Date(l));
			});
			console.log('new labels:');
			console.log(newLabels);
			console.log(data);
			for (var d in data) {
				console.log(data[d]);
			}
			
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: newLabels,
					datasets: data,
					options: {
						responsive: true,
						maintainaspectratio: false,
						scales: {
							yAxes: [{
								stacked: true, 
								gridLines: {
									display: true,
								},
								ticks: {
									stepSize: 10,
								},
							}],
							xAxes: [{
								type: 'time',
								position: 'bottom',
								time: {
						            unit: 'day',
						            //unitStepSize: 10
						        },
								/*ticks: {
									stepSize: 10,
									maxTicksLimit: 10,
									autoSkip: true

								},*/
								gridLines: {
									//display: false;
								},
							}]
						},
						legend: {
							position: 'right',
						}
					}

				}
			});
