extends layout

block vars
	- var title = title;
	- var timeSeries = timeSeries;
	- var timeIntervals = timeIntervals;

block content
	//script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
	script(src='https://cdn.zingchart.com/zingchart.min.js')
	div(id='myChart')
		//canvas(id='chart')
		
	script.
		let myConfig = {
			'type': 'line',
			'utc': true,
			'title': {
				'text': 'Stock data analysis',
				'font-size': 24,
				'adjust-layout': true
			},
			'plotarea': {
				'margin': 'dynamic 45 60 dynamic'
			},
			'legend': {
				'layout': 'float',
				'background-color': 'none',
				'border-width': 0,
				'shadow': 0,
				'align': 'center',
				'adjust-layout': true,
				'toggle-action': 'remove',
				'item': {
					'padding': 7,
					'marginRight': 17,
					'cursor': 'hand'
				}
			},
			'scale-x': {
				//'min-value': 1383292800000,
				'shadow': 0,
				//'step': 3600000,
				'transform': {
					'type': 'date',
					'all': '%m/%d/%y  %h:%i %A',
					//'all': '%D, %d %M<br />%h:%i %A',
					'guide': {
						'visible': false
					},
					'item': {
						'visible': false
					}
				},
				'label': {
					'visible': false
				},
				'minor-ticks': 0
			},
			'scale-y': {
				'line-color': '#f6f7f8',
				'shadow': 0,
				'guide': {
					'line-styled': 'dashed'
				},
				'label': {
					'text': 'Price (USD)'
				},
				'minor-ticks': 0,
				'thousands-seperator': ','
			},
			'crosshair-x': {
				'line-color': '#efefef',
				'pilot-label': {
					'border-radius': '5px',
					'border-width': '1px',
					'border-color': '#f6f7f8',
					'padding': '10px',
					'font-weight': 'bold',
				},
				'scale-label': {
					'font-color': '#000',
					'background-color': '#f6f7f8',
					'border-radius': '5px'
				}
			},
			'tooltip': {
				'visible': false
			},
			'plot': {
				'highlight': true,
				'tooltip-next': '%t views: %v<br>%k',
				'shadow': 0,
				'line-width': '2px',
				'marker': {
					'type': 'circle',
					'size': 3
				},
				'highlight-state': {
					'line-width': 3
				},
				'animation': {
					'effect': 1,
					'sequence': 2,
					'speed': 100,
				}
			},
			'series': [{
				'values': [
				 	  [ 1562742000000, 234.1500 ],
					  [ 1562828400000, 238.1400 ],
					  [ 1562914800000, 239.7500 ],
					  [ 1563174000000, 248.0000 ],
					  [ 1563260400000, 249.3000 ],
					  [ 1563346800000, 255.6700 ],
					  [ 1563433200000, 255.0500 ],
					  [ 1563519600000, 255.6900 ],
					  [ 1563778800000, 258.7500 ],
					  [ 1563865200000, 256.7100 ],
					  [ 1563951600000, 259.1700 ],
					  [ 1564038000000, 233.5000 ],
					  [ 1564124400000, 226.9200 ],
					  [ 1564383600000, 227.0900 ],
					  [ 1564470000000, 232.9000 ],
					  [ 1564556400000, 243.0000 ],
					  [ 1564642800000, 242.6500 ],
					  [ 1564729200000, 231.3500 ],
					  [ 1564988400000, 229.6000 ],
					  [ 1565074800000, 231.8800 ],
					  [ 1565161200000, 226.5000 ],
					  [ 1565247600000, 234.4500 ],
					  [ 1565334000000, 236.0535 ],
					  [ 1565593200000, 232.9900 ],
					  [ 1565679600000, 228.8100 ],
					  [ 1565766000000, 231.2100 ],
					  [ 1565852400000, 220.8600 ],
					  [ 1565938800000, 216.6600 ],
					  [ 1566198000000, 224.2100 ],
					  [ 1566284400000, 227.6200 ],
					  [ 1566370800000, 222.0100 ],
					  [ 1566457200000, 222.8000 ],
					  [ 1566543600000, 219.9700 ],
					  [ 1566802800000, 213.6000 ],
					  [ 1566889200000, 215.7400 ],
					  [ 1566975600000, 213.6900 ],
					  [ 1567062000000, 219.0000 ],
					  [ 1567148400000, 229.1500 ],
					  [ 1567494000000, 224.0800 ],
					  [ 1567580400000, 226.8900 ],
					  [ 1567666800000, 222.5000 ],
					  [ 1567753200000, 227.2000 ],
					  [ 1568012400000, 230.0000 ],
					  [ 1568098800000, 230.8000 ],
					  [ 1568185200000, 237.3800 ],
					  [ 1568271600000, 247.7000 ],
					  [ 1568358000000, 246.9600 ],
					  [ 1568617200000, 246.0000 ],
					  [ 1568703600000, 242.4700 ],
					  [ 1568790000000, 245.0000 ],
					  [ 1568876400000, 246.0000 ],
					  [ 1568962800000, 246.4900 ],
					  [ 1569222000000, 240.0000 ],
					  [ 1569308400000, 241.5200 ],
					  [ 1569394800000, 224.5600 ],
					  [ 1569481200000, 230.6600 ],
					  [ 1569567600000, 242.2000 ],
					  [ 1569826800000, 243.0000 ],
					  [ 1569913200000, 241.5000 ],
					  [ 1569999600000, 243.2900 ],
					  [ 1570086000000, 231.8600 ],
					  [ 1570172400000, 231.6100 ],
					  [ 1570431600000, 229.8000 ],
					  [ 1570518000000, 235.8700 ],
					  [ 1570604400000, 241.3200 ],
					  [ 1570690800000, 245.2800 ],
					  [ 1570777200000, 247.1500 ],
					  [ 1571036400000, 247.9000 ],
					  [ 1571122800000, 257.7000 ],
					  [ 1571209200000, 257.3900 ],
					  [ 1571295600000, 262.5000 ],
					  [ 1571382000000, 260.7000 ],
					  [ 1571641200000, 258.3300 ],
					  [ 1571727600000, 254.3200 ],
					  [ 1571814000000, 254.5000 ],
					  [ 1571900400000, 298.3700 ],
					  [ 1571986800000, 297.7200 ],
					  [ 1572246000000, 327.5400 ],
					  [ 1572332400000, 319.9900 ],
					  [ 1572418800000, 313.0000 ],
					  [ 1572505200000, 313.1000 ],
					  [ 1572591600000, 316.3200 ],
					  [ 1572854400000, 314.8000 ],
					  [ 1572940800000, 319.6200 ],
					  [ 1573027200000, 318.0000 ],
					  [ 1573113600000, 329.1400 ],
					  [ 1573200000000, 334.5000 ],
					  [ 1573459200000, 343.9500 ],
					  [ 1573545600000, 346.9000 ],
					  [ 1573632000000, 355.0000 ],
					  [ 1573718400000, 346.1100 ],
					  [ 1573804800000, 350.6400 ],
					  [ 1574064000000, 352.9165 ],
					  [ 1574150400000, 351.7500 ],
					  [ 1574236800000, 360.0000 ],
					  [ 1574323200000, 354.5100 ],
					  [ 1574409600000, 340.1600 ],
					  [ 1574668800000, 344.3200 ],
					  [ 1574755200000, 335.2700 ],
					  [ 1574841600000, 331.1200 ]
				/*
					149.2,
					174.3,
					187.7,
					147.1,
					129.6,
					189.6,
					230,
					164.5,
					171.7,
					163.4,
					194.5,
					200.1,
					193.4,
					254.4,
					287.8,
					246,
					199.9,
					218.3,
					244,
					312.2,
					284.5,
					249.2,
					305.2,
					286.1,
					347.7,
					278,
					240.3,
					212.4,
					237.1,
					253.2,
					186.1,
					153.6,
					168.5,
					140.9,
					86.9,
					49.4,
					24.7,
					64.8,
					114.4,
					137.4
						*/
				],
				'text': 'stock A',// stock name
				'line-color': '#007790',
				'legend-item': {
					'background-color': '#007790',
					'borderRadius': 5,
					'font-color': 'white'
				},
				'legend-marker': {
					'visible': false
				},
				'marker': {
					'background-color': '#007790',
					'border-width': 1,
					'shadow': 0,
					'border-color': '#69dbf1'
				},
				'highlight': {
					'size': 6,
					'background-color': '#007790'
				}
			}]

		};

		zingchart.render({
			id: 'myChart',
			data: myConfig,
			height: '100%',
			width: '100%'
		});
			
			/*
			var ctx = document.getElementById('chart').getContext('2d');
			console.log(!{labels});
			//console.log(#{data});
			let data = !{data};
			let labels = !{labels};
			let newLabels = [];
			labels.forEach((l) => {
				console.log(l);
				newLabels.push(new moment(l).toDate());
			});
			console.log('new labels:');
			console.log(newLabels);
			console.log(data);
			for (var d in data) {
				console.log(data[d]);
			}
			
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: newLabels,
					datasets: data,
					options: {
						responsive: true,
						maintainaspectratio: false,
						scales: {
							yAxes: [{
								stacked: true, 
								gridLines: {
									display: true,
								},
								ticks: {
									stepSize: 10,
								},
							}],
							xAxes: [{
								type: 'time',
								position: 'bottom',
								time: {
						            unit: 'day',
						            unitStepSize: 10
						        },
								/*ticks: {
									stepSize: 10,
									maxTicksLimit: 10,
									autoSkip: true

								},
								gridLines: {
									//display: false;
								},
							}]
						},
						legend: {
							position: 'right',
						}
					}

				}
			});*/
