extends layout

block content
	h1= title

	form(method='GET' action='/stocks/getStock')
		div.form-group
			label(for='stock') Stock:
			select#stock.form-control(type='select', placeholder='Select Stock' name='stock' required='true')
				- stocks.sort(function(a,b) {let textA = a.key; let textB = b.key; return (textA < textB) ? -1 :  (textA > textB) ? 1 : 0; })
				for stock in stocks
					option(value=stock.key) #{stock.name}
		button.btn.btn-primary(type='submit') Submit

